:root {
    --global-color-primary: #0C5992;
    --global-color-secondary: #54595F;
    --global-color-text: #7A7A7A;
    --global-color-accent: #1E8717;
    --global-color-Cheese: #DFA436;
    --global-color-hotPink: #FF66C4;
    --global-color-spongeBob: #FCC900;
    --global-color-aqua: #00D296;
    --global-color-redish: #FF4801;
    --global-color-white: #FFFFFF;
    --global-color-redEye: #AF1005;
    --global-color-black: #000000;
    /* font-family: 'Poppins', sans-serif; Noto Sans, Roboto Slab,*/
    --global-typography-primary-font-size: 24px;
    --global-typography-primary-font-weight: 600;
    --global-typography-secondary-font-family: "Roboto Slab";
    --global-typography-font-family: "Londrina Solid";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--global-typography-font-family);
    background-color: var(--global-color-spongeBob);
}

header {
    border: var(--global-color-black) solid 1px;
}

header,
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    min-width: 100%;
    height: 90px;
}

.brand-name {
    font-size: 30px;
    margin-left: 15px;
}

.brand-logo {
    display: flex;
    justify-content: center;
}

nav ul,
nav a {
    list-style-type: none;
    text-decoration: none;
    color: var(--global-color-black);
    text-shadow: 2px 2px 4px rgba(0, 0.5, 0, 0.5);
}

nav ul {
    display: flex;
    margin-right: 20px;

}

li {
    margin-right: 8px;
    padding: 8px;
    width: auto;
    /* border: var(--global-color-black) solid 1px; */
    font-family: var(--global-typography-font-family);
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: var(--global-color-white);
    text-shadow: 2px 2px 4px rgba(0, 0.5, 0, 0.5);
}

/* a:visited {
    color: var(--global-color-primary);
} */

ul li a {
    color: var(--global-color-black);
    text-shadow: 2px 2px 4px rgba(0, 0.0, 0, 0.5);
}

/* .banner-image {
    width: 100%;
    max-width: 100%;
    height: 93vh;
    background-image: contain;
} */

section.hero-banner-container {
    background: hsla(195, 99%, 45%, 1);

    background: linear-gradient(45deg, hsla(195, 99%, 45%, 1) 0%, hsla(208, 90%, 28%, 1) 80%);

    background: -moz-linear-gradient(45deg, hsla(195, 99%, 45%, 1) 0%, hsla(208, 90%, 28%, 1) 80%);

    background: -webkit-linear-gradient(45deg, hsla(195, 99%, 45%, 1) 0%, hsla(208, 90%, 28%, 1) 80%);

    width: 100%;

    max-width: 100%;

    height: 93vh;
}


.text-banner {
    font-size: 100px;
    text-align: center;
    padding: 20px;
    font-family: 'Shrikhand', 'cursive';
    background: hsla(50, 79%, 70%, 1);
    background: radial-gradient(circle, hsla(50, 79%, 70%, 1) 0%, hsla(51, 64%, 57%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    /* Standard property for compatibility */
    -webkit-text-fill-color: transparent;
}


@media (max-width: 576px) {

    /* css rules for sm screens */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }


    header {
        display: block;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100px;
    }

    nav {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    /* img.brand-name {
        width: 100%;
    } */

    .brand-name {
        display: flex;
        align-items: center;
        display: flex;
        margin-left: 100px;
        max-width: 100%;
        height: auto;
    }

    li {
        margin-left: 20px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    /* css rules for md screens */
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100px;
    }

    nav {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    ul {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    img.brand-name {
        width: 100%;
        display: inline;
        margin: 0;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .brand-logo {
        padding-top: 10px;
        max-width: 100%;
        display: inline;
        height: auto;
        margin: 0;
        margin-left: 25%;
        align-items: center;
        justify-content: center;
    }



    /* .banner-image {
        width: 100%;
        max-width: 100%;
        height: 95vh;
        background-image: contain;
        justify-content: center;
        margin: 0;
        padding: 0;
    } */
}

@media (min-width: 769px) and (max-width: 992px) {

    /* css rules for lg screens */
    header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100px;
    }

    nav {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    ul {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    img.brand-name {
        width: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* css rules for xtra-lg screens*/
}

@media (min-width: 1201px) {
    /* css xxlg screens */
}